.main-blue {
    background-color: #1a2852;
}

.primary-orange {
    background-color: #ee765f;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krub-extralight {
    font-family: "Krub", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.krub-light {
    font-family: "Krub", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.krub-regular {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krub-medium {
    font-family: "Krub", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.krub-semibold {
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.krub-bold {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.krub-extralight-italic {
    font-family: "Krub", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.krub-light-italic {
    font-family: "Krub", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.krub-regular-italic {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.krub-medium-italic {
    font-family: "Krub", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.krub-semibold-italic {
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.krub-bold-italic {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: italic;
}